.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin: 20px 0 10px 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.App-header h2 {
  margin: 10px 0 30px 0;
  font-size: 1.5rem;
  font-weight: normal;
  color: #61dafb;
}

.student-id {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: bold;
}

.student-name {
  margin: 10px 0;
  font-size: 1.3rem;
  font-weight: 500;
}

.college {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: normal;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
